.login
{
    -fx-background-color: #1e88e5;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.password-field
{
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-font-size: 14;
}