.card-box
{
    -fx-background-color: white; -fx-padding: 30; -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 4);
}
.match-button
{
    -fx-font-size: 28px; -fx-font-weight: bold; -fx-text-fill: #2196F3;
}
.start-match
{
    -fx-font-size: 18px; -fx-padding: 12 30;
    -fx-background-color: linear-gradient(to right, #2196F3, #1E88E5);
    -fx-text-fill: white; -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0, 0, 2);
    -fx-cursor: hand;
}

.back-button
{
    -fx-font-size: 16px; -fx-padding: 8 25;
    -fx-background-color: #E53935;
    -fx-text-fill: white; -fx-background-radius: 10;
}