.primary-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.exit-button{
    -fx-font-size: 18px; -fx-padding: 12 30;
    -fx-background-color: #E53935;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.neon-btn {
    -fx-background-radius: 10;
    -fx-background-color: #0d47a1;
    -fx-text-fill: white;
    -fx-padding: 12 25;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #2196F3, 10, 0.5, 0, 0);
}

.neon-btn:hover {
    -fx-effect: dropshadow(gaussian, #64B5F6, 20, 0.8, 0, 0);
    -fx-background-color: #1565C0;
}

.neon-btn:pressed {
    -fx-background-color: #0d47a1;
    -fx-effect: none;
}
